# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FlappyShowProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ProjectFiles\UnityProjects\FlappyShowProject\.idea\.idea.FlappyShowProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
